#!/usr/bin/env -S rc -e

usdc_addr=0x6c030c5CC283F791B26816f325b9C632d964F8A1
accounts_graph_addr=https://accounts.superposition.so
accounts_addr=0xb838e2C1C9e525dFE18D35cd906aEe141ce9CfC2

prog=`{basename $0}

fn usage {
	echo $prog $* >[1=2]
	exit 2
}

for(n in (sign-stdin leftpad-int make-permit keccak256-hex)) {
	if(! which $n >/dev/null) {
		echo $n not in path. Install from tools >[1=2]
		exit 1
	}
}

if(~ $SPN_SUPERPOSITION_URL '') usage SPN_SUPERPOSITION_URL unset
if(~ $SPN_SUPERPOSITION_KEY '') usage SPN_SUPERPOSITION_KEY unset

sender_pub_addr=`{cast wallet address --private-key $SPN_SUPERPOSITION_KEY}

fn no_0x { echo $* | sed -s 's/0x//g' }

fn req {
	curl -H 'Content-Type: application/json' -s $* $accounts_graph_addr
}

fn get_public_key {
	echo -n `{req -d '{"query":"{publickey}"}' | jq -r .data.publickey}
}

fn call {
	cast call --rpc-url $SPN_SUPERPOSITION_URL $*
}

fn make_mint_obj {
	amount=$1 market=$2 referrer=$3 should_permit=$4
	ms_ts=`{date +%s%3N}
	permit_obj=''
	if(~ $should_permit yes) {
		permit_obj=`{make_permit_obj}
	}
	echo 'mint: {\n      market: \"'$market'\",\n      outcome: \"'$outcome'\",\n      amount: \"'$amount'\",\n      referrer: \"'$referrer'\",\n      ms_ts: \"'$ms_ts'\",\n      '$permit_obj'    }'
}

fn usage_onboard {
	usage 'onboard authority [market outcome amount referrer [should permit]]'
}

fn onboard {
	should_mint=yes
	for(n in (2 3 4 5)) if(~ $$n '') should_mint=''
	authority=`{echo `{no_0x $1} | tr '[:upper:]' '[:lower:]'}
	if(~ $authority '') usage_onboard
	market=`{no_0x $2} outcome=`{no_0x $3} amount=$4 referrer=`{no_0x $5}
	should_permit=yes
	if(~ $6 '') should_permit=''
	if(! ~ $market '') {
		for(n in (2 3 4)) if(~ $$n '') usage_onboard
	}
	eoa=`{no_0x `{cast wallet address --private-key $SPN_SUPERPOSITION_KEY}}
	sig=`{echo -n 'New Superposition account: '`{get_public_key}', authority contract: '$authority | sign-stdin $SPN_SUPERPOSITION_KEY}
	echo $sig
	echo
	sig_r=`{echo $sig | jq -r .r}
	sig_s=`{echo $sig | jq -r .s}
	sig_v=`{echo $sig | jq -r .v}
	mint_obj=''
	if(~ $should_mint yes) {
		mint_obj=`{make_mint_obj $amount $market $referrer $should_permit}
	}
	req -d '
{"query":"mutation {\n  createAccountExec(\n    createAccount: {\n      eoa_addr: \"'$eoa'\",\n      sigR: \"'$sig_r'\",\n      sigS: \"'$sig_s'\",\n      sigV: '$sig_v',\n    authority: \"'$authority'\",\n},\n    '$mint_obj'\n  ) {\n    hash\n    secret\n  }\n}"}'
}

fn random_bytes3 {
	dd if=/dev/urandom bs=1 count=3 status=none | xxd -p
}

fn get_secret {
	eoa=`{no_0x `{cast wallet address --private-key $SPN_SUPERPOSITION_KEY}}
	# We use a bytes3 here so that one number is always 0 so that we can stay below
	# the signed limit:
	nonce_hex=`{echo 00`{random_bytes3} | tr '[:lower:]' '[:upper:]'}
	nonce=`{echo 'ibase=16; '$nonce_hex | bc}
	sig=`{echo -n `{get_public_key}`{echo $nonce_hex | tr [:upper:] [:lower:]} | sign-stdin $SPN_SUPERPOSITION_KEY}
	sig_r=`{echo $sig | jq -r .r}
	sig_s=`{echo $sig | jq -r .s}
	sig_v=`{echo $sig | jq -r .v}
	secret=`{
		req -d '
{"query":"mutation {\n\trequestSecret(\n    sigR: \"'$sig_r'\",\n    sigS: \"'$sig_s'\",\n    sigV: '$sig_v',\n    nonce: '$nonce',\n    eoa_addr: \"'$eoa'\"\n  )\n}"}' \
		| jq -r .data.requestSecret
	}
	echo SPN_ACCOUNTS_SECRET=$secret
}

fn mint {
	for(n in (SPN_SUPERPOSITION_KEY SPN_ACCOUNTS_SECRET)) {
		if(~ $$n '') usage SPN_SUPERPOSITION_KEY unset
	}
	eoa=`{no_0x `{cast wallet address --private-key $SPN_SUPERPOSITION_KEY}}
	market=`{no_0x $1} outcome=`{no_0x $2} amount=$3 referrer=`{no_0x $4}
	for(n in (market outcome amount referrer)) {
		if(~ $$n '') usage 'mint market outcome amount referrer [should permit]'
	}
	should_permit=yes
	if(~ $5 '') should_permit=''
	mint_obj=`{make_mint_obj $amount $market $referrer $should_permit}
	req -H 'Authorization: '$eoa:$SPN_ACCOUNTS_SECRET -d '
{"query":"mutation {\n  ninelivesMint('$"mint_obj')\n}"}'
}

fn claim {
	for(n in (SPN_SUPERPOSITION_KEY SPN_ACCOUNTS_SECRET)) {
		if(~ $$n '') usage SPN_SUPERPOSITION_KEY unset
	}
	eoa=`{no_0x `{cast wallet address --private-key $SPN_SUPERPOSITION_KEY}}
	ms_ts=`{date +%s%3N}
	market_obj='['
	len=`{echo $* | wc -w}
	for(i in `{seq $len}) {
		market_obj=$"market_obj'\"'$*($i)'\"'
		if(test $i -lt $len) market_obj=$"market_obj,
	}
	market_obj=$"market_obj']'
	req -H 'Authorization: '$eoa:$SPN_ACCOUNTS_SECRET -d '
{"query":"mutation {\n  claimRewards(markets: '$market_obj', msTs: \"'$ms_ts'\")\n}"}'
}

switch($1) {
case onboard
	shift
	onboard $*
case get-secret
	shift
	get_secret
case mint
	shift
	mint $*
case claim
	shift
	claim $*
case *
	usage '(onboard|mint|get-secret)'
}
