#!/usr/bin/env -S rc -e

fn trun_left_0x {
	echo 0x000000000000000000000000`{echo $1 | sed -s 's/^0x//g'}
}

ed_key=1d3af78f9dfdbf86c888ed29b415e13d6ac3ce85ee90f02806820bd17f360474
authority_addr=`{trun_left_0x 0x6221a9c005f6e47eb398fd867784cacfdcfff4e7}
impl_addr=`{trun_left_0x 0xe48aaecf9b9b13e5524ba3b45b242850128c22b0}

url=https://arb1.arbitrum.io/rpc

owner_addr=$1

for(n in (\
	owner_addr \
	impl_addr \
	SPN_SUPERPOSITION_KEY \
))
	if(~ $$n '') exit 2

target_addr=`{
	curl -s \
		-H 'Content-Type: application/json' \
		-d '{"query":"query {eoaForAddress(address: \"'$owner_addr'\")}"}' \
		https://arb-accounts.superposition.so \
			| jq -r .data.eoaForAddress
}

cast send \
	--private-key $SPN_SUPERPOSITION_KEY \
	--rpc-url $url \
	$target_addr \
	`{
		echo `{
			cast calldata 'migrate(bytes32,bytes32,bytes32,bytes32)' \
				$ed_key \
				`{trun_left_0x $owner_addr} \
				$impl_addr \
				$authority_addr
			} \
				| sed -s 's/0xb0d0aec0/0x8fd3ab80/'
	}
